# Set the default behavior, in case people don’t have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.ts text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
