language: node_js
node_js:
 - "10"
 - "12"
 - "14"
 - "lts/*"
 - "node"

script:
  - npm run lint
  - npm run validate
  - npm run test:unit
  - npm run test:integration
  - npm run test:deploy

jobs:
  allow_failures:
    - node_js: "node"
  fast_finish: true
  include:
    - stage: coverage
      node_js: "14"
      script:
       - npm run coveralls
