<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ name }}</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <p>{{ message }}</p>
    {{#if stack}}
      <pre><code>{{ stack }}</code></pre>
    {{/if}}
  </body>
</html>
