<h1>Authorize</h1>
<p>You are authorizing an application to access your Pod.</p>
<form method="post">
  <% if (locals.errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>

  <fieldset>
    <ol>
      <li class="checkbox">
        <label><input type="checkbox" name="remember" value="yes" checked>Stay logged in</label>
      </li>
    </ol>
  </fieldset>

  <p class="actions"><button autofocus type="submit" name="submit">Continue</button></p>
</form>
