<h1>Forgot password</h1>
<form method="post">
  <% if (errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>

  <fieldset>
    <ol>
      <li>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" autofocus>
      </li>
    </ol>
  </fieldset>

  <p class="actions"><button type="submit" name="submit">Send recovery email</button></p>

  <p class="actions"><a href="<%= controls.login %>" class="link">Log in</a></p>
</form>
