<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Forgot password</title>
  <link rel="stylesheet" href="/.well_known/css/styles/main.css" type="text/css">
</head>
<body>
  <header>
    <a href="/"><img src="/.well_known/css/images/solid.svg" alt="[Solid logo]" /></a>
    <h1>Community Solid Server</h1>
  </header>
  <main>
    <h1>Forgot password</h1>
    <form action="/idp/forgotpassword" method="post">
      <%if (errorMessage) { %>
        <p class="error"><%= errorMessage %></p>
      <% } %>

      <fieldset>
        <ol>
          <li>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" autofocus>
          </li>
        </ol>
      </fieldset>

      <p class="actions"><button type="submit" name="submit">Send recovery email</button></p>

      <p class="actions"><a href="/idp/login" class="link">Log in</a></p>
    </form>
  </main>
  <footer>
    <p>
      ©2019–2021 <a href="https://inrupt.com/">Inrupt Inc.</a>
      and <a href="https://www.imec-int.com/">imec</a>
    </p>
  </footer>
</body>
</html>
