<h1>Email sent</h1>
<form method="post">
  <p>If your account exists, an email has been sent with a link to reset your password.</p>
  <p>If you do not receive your email in a couple of minutes, check your spam folder or click the link below to send another email.</p>

  <input type="hidden" name="email" value="<%= email %>" />

  <p class="actions"><a href="<%= controls.login %>">Back to Log In</a></p>

  <p class="actions">
    <button type="submit" name="submit" class="link">Send Another Email</button>
  </p>
</form>
