<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Reset password</title>
  <link rel="stylesheet" href="/.well_known/css/styles/main.css" type="text/css">
</head>
<body>
  <header>
    <a href="/"><img src="/.well_known/css/images/solid.svg" alt="[Solid logo]" /></a>
    <h1>Community Solid Server</h1>
  </header>
  <main>
    <h1>Reset password</h1>
    <form action="/idp/resetpassword" method="post">
      <%if (errorMessage) { %>
        <p class="error"><%= errorMessage %></p>
      <% } %>

      <fieldset>
        <ol>
          <li>
            <label for="password">New password</label>
            <input id="password" type="password" name="password" placeholder="">
          </li>
          <li>
            <label for="confirmPassword">Confirm new password</label>
            <input id="confirmPassword" type="password" name="password" placeholder="">
          </li>
        </ol>

        <input type="hidden" name="recordId" value="<%= recordId %>" />
      </fieldset>

      <p class="actions"><button type="submit" name="submit">Reset password</button></p>
    </form>
  </main>
  <footer>
    <p>
      ©2019–2021 <a href="https://inrupt.com/">Inrupt Inc.</a>
      and <a href="https://www.imec-int.com/">imec</a>
    </p>
  </footer>
</body>
</html>
