<h1>Reset password</h1>
<form method="post">
  <% if (locals.message) { %>
    <p class="error"><%= message %></p>
  <% } %>

  <fieldset>
    <ol>
      <li>
        <label for="password">New password</label>
        <input id="password" type="password" name="password" placeholder="">
      </li>
      <li>
        <label for="confirmPassword">Confirm new password</label>
        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="">
      </li>
    </ol>
  </fieldset>

  <p class="actions"><button type="submit" name="submit">Reset password</button></p>
</form>
