<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Authorize</title>
    <link rel="stylesheet" href="/idp/style.css">
  </head>
  <body>
    <div class="main-content">
      <section class="main-content-section">
        <div class="wrapper">
          <h1 class="title--white">Authorize</h1>
          <div class="login-panel">
            <div class="panel-body">
              <form autocomplete="off" action="/idp/confirm" method="post">
                <button autofocus type="submit" name="submit" class="ids-link-filled">Continue</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
