<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= message %></title>
    <link rel="stylesheet" href="/idp/style.css">
  </head>
  <body>
    <div class="main-content">
      <section class="main-content-section">
        <div class="wrapper">
          <section class="toaster-wrap--primary toaster" style="margin-top: 114px">
            <div class="toaster-wrap__content">
              <p class="content__message">
                <%= message %>
              </p>
            </div>
          </section>
        </div>
      </section>
    </div>
  </body>
</html>
