<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    <style type="text/css">
     <%- include('main.css', {}); %>
    </style>
  </head>
  <body>
    <div class="main-content">
      <section class="main-content-section">
        <div class="wrapper">
          <h1 class="title--white">Reset Password</h1>
          <div class="login-panel">
            <div class="panel-body">

                <div class="input-wrap">
                  <p>You've requested a password reset for your Solid account. Click below to reset.</p>
                </div>

                <a href="<%= link %>" class="lds-link-filled">Reset Password</a>

            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
