<div id="input-partial">
  <%- include('./input-partial.html.ejs') %>
</div>
<div id="response-partial">
  <h1 id="public">Server setup complete</h1>
  <p>
    Congratulations!
    Your Solid server is now ready to use.
    <br>
    You can now visit its <a href="./">homepage</a>.
  </p>

  <div id="response-initialize">
    <h2>Root Pod</h2>
    <p>
      <strong>Warning: the root Pod is publicly accessible.</strong>
      <br>
      Prevent public write and control access to the root
      by modifying its <a href=".acl">ACL document</a>.
    </p>
  </div>

  <div id="response-registration">
    <%- include('../identity/email-password/register-response-partial.html.ejs', { idpIndex: '' }) %>
  </div>
</div>

<script>
  function updateResponse(json) {
    // Swap visibility
    setVisibility('input-partial', false);
    setVisibility('response-partial', true);

    setVisibility('response-initialize', json.initialize);

    setVisibility('response-registration', json.registration);
    if (json.registration) {
      updateResponseFields(json);
    }
  }

  setVisibility('response-partial', false);

  addPostListener('mainForm', 'error', '', updateResponse);
</script>
